{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                console.log('[{{ project }}] {{ category }}: {{ message }}');

                function closeAlert() {
                    document.getElementById('alert').style.transform = 'translateX(-1000px)';
                }
            </script>

            <div class="alert {{ class }} {{ category }}" id="alert">
                <i class="bi bi-x-lg close" onclick="closeAlert();"></i>
                <span>{{ message | safe }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
